/*---------------------------------
GÉNÉRIQUE
---------------------------------*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*---------------------------------
ÉLÉMENTS
---------------------------------*/

h1 {
    font-size: 6rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    color: white;
    letter-spacing: 0.36em;
}

h2 {
    text-align: right;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    letter-spacing: 2.64px;
    font-size: 3rem;
    line-height: 60px;
}

/*---------------------------------
COMPONENTS
---------------------------------*/

.wrapper {
    margin: 0 auto;
    max-width: 1100px;
}

.header {
    text-align: center;
    background: #34495E;
    padding: 50px;
}

.content {
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.card {
    display: flex;
    align-items: center;


    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 2.25rem;
    line-height: 60%;
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: #BDC3C7;
}

.rond {
    border: 5px solid #D35400;
    border-radius: 100%;
    color: #D35400;
    font-size: 1rem;

    width: 210px;
    height: 210px;

    display: flex;
    justify-content: center;
    align-items: center;
}