/*---------------------------------
GÉNÉRIQUE
---------------------------------*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*---------------------------------
ÉLÉMENTS
---------------------------------*/

h1 {
    font-size: 6rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    color: white;
    letter-spacing: 0.36em;
}

h2 {
    text-align: right;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    letter-spacing: 2.64px;
    font-size: 3rem;
    line-height: 60px;
}

article {
    display: flex;
    align-items: center;
    gap: 67px;

}

/*---------------------------------
COMPONENTS
---------------------------------*/

.wrapper {
    margin: 0 auto;
    max-width: 1100px;
}

.header {
    text-align: center;
    background: #34495E;
    padding: 50px;
}



.droite {
    order: 1;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;



    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 2.25rem;
    line-height: 60%;
    text-decoration: none;
    color: black;

    margin-bottom: 40px;
}

a:hover {
    background-color: #BDC3C7;
}

.rond {
    border: 5px solid #D35400;
    border-radius: 100%;
    color: #D35400;
    background-color: white;
    font-size: 1.875rem;
    line-height: 60%;
    font-weight: bold;
    letter-spacing: 0.05em;

    width: 210px;
    height: 210px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.textes .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.textes p {
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;

}

.textes span {
    font-weight: bold;
}

.footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.footer span {
    border: 3px solid #BDC3C7;
    border-radius: 100%;
    font-weight: normal;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: auto;

    background-color: #2980B9;
    padding: 45px;
    text-align: center;
}